{% extends "core_templates/base.html" %}

{% block title %}
Movimento Mensalistap
{% endblock title %}

{% block main %}


<h1>Template Listar Movimento Mensalista</h1>
<table class="table table-hover">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Placa</th>
            <th scope="col">Proprietário</th>
            <th scope="col">Pagamento</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for movimento in movMensalista %}
        <tr>
            <th scope="row">{{ movimento.id }}</th>
            <td><a href="{% url 'core_mes_update' movimento.id %}">{{movimento.mensalista.veiculo}}</a></td>
            <td>{{movimento.mensalista.veiculo.proprietario}}</td>
            <td>{{movimento.dt_pgto}}</td>
            <td>{{movimento.total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <form action="{% url 'core_mov_mes_novo' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
            
    </form>
{% endblock main %}