{% extends 'core_templates/base.html' %}



{% block title %}
    Movimento Diário
{% endblock title %}
    
{% block main %}
        <h1>Template Listar Movimento</h1>
    <table class="table table-hover">
    
    <thead>
        <tr>
        <th scope="col">{{ movimento.id }}</th>
        <th scope="col">Placa</th>
        <th scope="col">Proprietário</th>        
        <th scope="col">Pagamento</th>
        </tr>
        </thead>
    <tbody>
    {% for movimento in movimentos %}
        <tr>
        <th scope="row">1</th>
        <td><a href="{% url 'core_rot_update' movimento.id%}">{{movimento.veiculo}}</a></td>
        <td>{{movimento.proprietario}}</td>        
        <td>{{movimento.pagamento}}</td>
        </tr>            
    {% endfor %}
    </tbody>
    </table>
            </ul>     
    <form action="{% url 'core_rot_novo'%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>   
{% endblock main %}

